force-app/main/default/flows/Assign_Bus_Rider_as_Bus_Passenger_if_Rider_is_Null.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_Rider_the_Passenger_ID</name>
        <label>Assign Rider the Passenger ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Passenger__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>if the Backup rider is not available then make the rider the sole Passenger also.</description>
        <name>Is_Rider_Available</name>
        <label>Is Rider Available ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rider__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rider_the_Passenger_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>This is a guardrail to projected that there is a substitute rider to take the place of the passenger if they are a no-show.</description>
    <environments>Default</environments>
    <interviewLabel>Assign Bus Rider as Bus Passenger if Rider is Null {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Bus Rider as Bus Passenger if Rider is Null</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Rider_Available</targetReference>
        </connector>
        <object>Bus_Ticket__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
