force-app/main/default/flows/Create_Bus_Seats_for_New_Bus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Create_the_Seat_Info</name>
        <label>Create the Seat Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recBus_Seat.Bus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBus_Seat.Is_Booked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBus_Seat.Row_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numCurrent_Row</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recBus_Seat.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmSeatName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_SeatsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recBus_Seat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numCurrent_Column</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Are_Columns_Still_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_the_Row_Counter</name>
        <label>Increment the Row Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numCurrent_Row</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Are_Rows_Still_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Row_and_Column_Counters</name>
        <label>Initialize Row and Column Counters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numCurrent_Column</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numCurrent_Row</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Rows_Still_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Select_Seat_A</name>
        <label>Select Seat A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recBus_Seat.Seat_Letter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtLetter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;A&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Seat_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Select_Seat_C</name>
        <label>Select Seat C</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recBus_Seat.Seat_Letter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtLetter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;C&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Seat_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Select_Seat_D</name>
        <label>Select Seat D</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recBus_Seat.Seat_Letter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtLetter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;D&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Seat_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectSeatB</name>
        <label>Select Seat B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recBus_Seat.Seat_Letter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtLetter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;B&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Seat_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Columns_Still_Available</name>
        <label>Are Columns Still Available ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Increment_the_Row_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Columns_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrent_Column</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Seating_Letters</targetReference>
            </connector>
            <label>Yes Columns Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Rows_Still_Available</name>
        <label>Are Rows Still Available ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrent_Row</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_Columns_Still_Available</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Seating_Letters</name>
        <label>Check Seating Letters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_the_Seat_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>Seat_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrent_Column</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Seat_A</targetReference>
            </connector>
            <label>Seat A</label>
        </rules>
        <rules>
            <name>Seat_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrent_Column</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectSeatB</targetReference>
            </connector>
            <label>Seat B</label>
        </rules>
        <rules>
            <name>Seat_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrent_Column</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Seat_C</targetReference>
            </connector>
            <label>Seat C</label>
        </rules>
        <rules>
            <name>Seat_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrent_Column</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Seat_D</targetReference>
            </connector>
            <label>Seat D</label>
        </rules>
    </decisions>
    <description>Create seats whenever a new bus is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmSeatName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&apos;-&apos;+TEXT({!recBus_Seat.Row_Number__c})+{!txtLetter}</expression>
    </formulas>
    <interviewLabel>Create Bus Seats for New Bus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Bus Seats for New Bus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Row_and_Column_Counters</targetReference>
        </connector>
        <object>Bus__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>A, B, C, D</description>
        <name>col_Seat_Letters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_SeatsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus_Seat__c</objectType>
    </variables>
    <variables>
        <name>numCurrent_Column</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Outer index counter for seating rows on a bus</description>
        <name>numCurrent_Row</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recBus_Seat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus_Seat__c</objectType>
    </variables>
    <variables>
        <name>txtLetter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
